#footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #19c6d2;
  text-align: center;
  color: white;
  padding: 15px;
}

#footer p {
  margin: 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}
