.item-details {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  margin-top: 200px;
}

