




<div class="content-container">
  <select class="custom-select"  [(ngModel)]="selectedItem" (ngModelChange)="goToItemDetails(selectedItem)">
    <option *ngFor="let item of items" [value]="item.id" >{{item.itemName}}</option>
  </select>
</div>



