
.custom-select {
  width: 500px;
  margin: 0 auto;
  display: block;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.content-container {
  margin-top: 50px;
}

