
nav {
  display: flex;
  justify-content: space-between;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #19c6d2;

}

a{
  padding: 2px;
  margin: 0;
}

.logo-link {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}



